.containerDay {
   width: calc((100% / 7)  - 20px) ;
   height: 25vh;
   background-color: #555555;
   margin: 10px;
  }

  .containerDayEmpty {
    @extend .containerDay;
    background-color:#363636;
  }

.numDay { 
  margin: 0;
  padding: 10px;
  color: #fff;
}
